<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50">
    <mat-toolbar color="primary">Registration Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="registration-form">
    <mat-form-field>
        <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Emp id">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="contact no.">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="password">
    </mat-form-field>
    
    
    <button color="primary" mat-raised-button type="submit">Register</button>
    </form>
    </mat-card>
    </div>